html {
  font-family: sans-serif;
}

h1{
  color: #8D3527;
  text-align: center;
}

p, h2{
  color: #3D271C;
}

body {
  background-color: #FCCA73;
  padding: 20px;
  margin: 0;
}

.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

.header {
  background-color: #8D3527;
  padding: 0;
}

.header a {
  color: #FCCA73;
  font-weight: bold;
  text-decoration: none;
  padding: 1.5rem;
  display: inline-block;
}

.content {
  background-color: #CE7C2A;
  padding: 1rem;
}

.active {
  background-color: #3D271C;
}

img{
  max-width: 300px;
  max-height: 300px;
  margin: 1rem;
}
